{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{% block title %} Dashboard {% endblock %}</title>
  <!-- Bootstrap core CSS-->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %} " rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %} " rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin.css' %} " rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Lobster" rel="stylesheet"> 
  {% block header %}  {% endblock %}
<style type="text/css">
.title{
  font-family: 'Righteous', cursive;
}.shadow{
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}.shadow:hover{
   box-shadow: 0 7px 7px rgba(0,0,0,0.7);
}.user{
  /*font-family: 'Dancing Script', cursive;*/
  font-family: 'Lobster', cursive;
  border-left: 2px solid grey;
  border-right: 2px solid grey  ;
  color: white;
}
{% block style %}  {% endblock %}
</style>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand title" href="index.html">DATA LAKE</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item {% block Dashboardactive %}  {% endblock %}" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="{% url 'basic:dashboard' %}">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>

        <li class="nav-item {% block HDFSactive %}  {% endblock %}" data-toggle="tooltip" data-placement="right" title="Menu Levels">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
          <i class="fa fa-hdd-o fa-lg" aria-hidden="true"></i>
            <span class="nav-link-text">HDFS</span>
          </a>
        </li>
        <li class="nav-item ">
          <ul class="sidenav-second-level collapse" id="collapseMulti">
            <li  class="{% block Createactive %}  {% endblock %}">
              <a href="{% url 'basic:create' %}"><i class="fa fa-plus fa-lg" aria-hidden="true"></i> Create new cluster</a>
            </li>
            <li class="{% block Clientactive %}  {% endblock %}">
              <a href="{% url 'client:index' %}"><i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i> Hadoop Client</a>
            </li>
            <li>
              <a href="#"> <i class="fa fa-filter" aria-hidden="true"></i> MR / YARN</a>
            </li>
          </ul>
          </li>
        <li class="nav-item {% block Analyticsactive %}  {% endblock %}" data-toggle="tooltip" data-placement="right" title="Analytics">
          <a class="nav-link" href="charts.html">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Analytics</span>
          </a>
        </li>
        <li class="nav-item {% block LiveStreamingactive %}  {% endblock %}" data-toggle="tooltip" data-placement="right" title="Live Streaming">
          <a class="nav-link" href="{% url 'twitter:twitter' %}">
            <i class="fa fa-fw fa-line-chart"></i>
            <span class="nav-link-text">Live Streaming</span>
          </a>
        </li>
        <li class="nav-item {% block Aboutactive %}  {% endblock %}" data-toggle="tooltip" data-placement="right" title="About">
          <a class="nav-link" href="{% url 'basic:about' %}">
            <i class="fa fa-fw fa-info-circle"></i>
            <span class="nav-link-text">About</span>
          </a>
        </li>
        <li class="nav-item {% block Settingsactive %}  {% endblock %}" data-toggle="tooltip" data-placement="right" title="Settings">
          <a class="nav-link" href="{% url 'basic:settings' %}">
            <i class="fa fa-fw fa-cog"></i>
            <span class="nav-link-text">Settings</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item user pr-3 pl-3 mr-3 row align-items-center">
          <i class="fa fa-user-circle fa-2x pr-3" aria-hidden="true"></i>
          <h4 style="display:inline">{{name}}</h4>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#Logout">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">

    <!-- /.container-fluid-->

    {% block body %}

    {% endblock %}

    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © This Website is for demo purposes.</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="Logout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="{% url 'basic:index' %}">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin.min.js' %}"></script>
    <!-- Custom scripts for this page-->
    <script src="{% static 'js/sb-admin-datatables.min.js' %}"></script>
    <script src="{% static 'js/sb-admin-charts.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

    <script>
    $('#toggleNavPosition').click(function() {
      $('body').toggleClass('fixed-nav');
      $('nav').toggleClass('fixed-top static-top');
    });

    </script>
    <!-- Toggle between dark and light navbar-->
    <script>
    $('#toggleNavColor').click(function() {
      $('nav').toggleClass('navbar-dark navbar-light');
      $('nav').toggleClass('bg-dark bg-light');
      $('body').toggleClass('bg-dark bg-light');
    });

    </script>


    <script type="text/javascript">

(function () {
  'use strict'

  if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
    var msViewportStyle = document.createElement('style')
    msViewportStyle.appendChild(
      document.createTextNode(
        '@-ms-viewport{width:auto!important}'
      )
    )
    document.head.appendChild(msViewportStyle)
  }

}())

    </script>


  </div>
</body>

</html>
