{% extends 'base.html' %}
<!-- {% load staticfiles %} -->
{% block title %} Twitter Analysis {% endblock %}
{% block LiveStreamingactive %} active {% endblock %}

{% block style %} 

.content-wrapper{
  background: url(" {% static 'img/twitterwires.jpg' %} ") no-repeat;
  background-size: cover; 
}

 {% endblock %}

{% block body %}

<h1 class="title ml-4">Twitter Sentimental Analysis</h1><hr>

<div class="container m-5 ">
	<form method="GET" action="{% url 'twitter:analyse' %}">
	{% csrf_token %}
	  <div class="form-group row">
        <label class="title col-3"><h3>Enter a keyword: </h3></label>
    	<input class="offset-1 col-5" style="opacity:0.8" name= "hash" autofocus>
	  </div>

	  <div class="form-group row">
        <label class="title col-3"><h3>No. of tweets: </h3></label>
    	<input class="offset-1 col-5" style="opacity:0.8" name= "no_of_tweets" >
      </div>

	  <button type="submit" class="mt-5 btn btn-info btn-lg">Analyze</button>
	</form>
</div>


{% endblock %}
