---
- hosts: docker-nn
  tasks:
<<<<<<< HEAD
   - name: copy hdfs-site 
     copy:
        src: /root/docker_hv1/hdfs-site-nn.xml
        dest: /etc/hadoop/hdfs-site.xml

   - name: copy core-site 
     copy:
        src: /root/docker_hv1/core-site.xml
=======
   - name: copy hdfs-site
     copy:
        src: /home/ezioauditore/Desktop/projects/lnmhacks/source_files/docker_hv1/hdfs-site-nn.xml
        dest: /etc/hadoop/hdfs-site.xml

   - name: copy core-site
     copy:
        src: /home/ezioauditore/Desktop/projects/lnmhacks/source_files/docker_hv1/core-site.xml
>>>>>>> aman
        dest: /etc/hadoop/core-site.xml

   - name: format namenode
     shell: hadoop namenode -format

   - name: starting namenode
     shell: iptables -F ; hadoop-daemon.sh start namenode

- hosts: docker-dn
  tasks:
<<<<<<< HEAD
   - name: copy hdfs-site 
     copy:
        src: /root/docker_hv1/hdfs-site-dn.xml
        dest: /etc/hadoop/hdfs-site.xml

   - name: copy core-site 
     copy:
        src: /root/docker_hv1/core-site.xml
        dest: /etc/hadoop/core-site.xml

   - name: starting datanode
     shell: iptables -F ; hadoop-daemon.sh start datanode	
=======
   - name: copy hdfs-site
     copy:
        src: /home/ezioauditore/Desktop/projects/lnmhacks/source_files/docker_hv1/hdfs-site-dn.xml
        dest: /etc/hadoop/hdfs-site.xml

   - name: copy core-site
     copy:
        src: /home/ezioauditore/Desktop/projects/lnmhacks/source_files/docker_hv1/core-site.xml
        dest: /etc/hadoop/core-site.xml

   - name: starting datanode
     shell: iptables -F ; hadoop-daemon.sh start datanode
>>>>>>> aman
